@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

/** Example
.jetbrains-mono-<uniquifier> {
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} **/
 
body {
    background-color: rgb(107, 29, 29);
}
h1{
    color: white;
    font-family: "JetBrains Mono", system-ui;
    text-align: center;
}
div {
  color: white;
  font-family: "JetBrains Mono", system-ui;
  text-align: center;
}